:root {
  --shinonome: linear-gradient(91deg, #6f5878 0.02%, #4f648d);
  --blue_Kashmir: #52648c;
  --gray: #535353;
  --ivory: #fffcf7;
  --purple_Kimberly: #6b5b7d;
  --gray-50: rgba(83, 83, 83, 0.5);
  --black: #232323;
  --white: #ffffff;
  --ivory-50: rgba(255, 252, 247, 0.5);

  --font_70: 70px;
  --font_60: 60px;
  --font_48: 48px;
  --font_40: 40px;
  --font_36: 36px;
  --font_32: 32px;
  --font_28: 28px;
  --font_24: 24px;
  --font_22: 22px;
  --font_20: 20px;
  --font_18: 18px;
  --font_16: 16px;
  --font_14: 14px;
  --font_12: 12px;

  --noto: "Noto Sans JP", sans-serif;
  --anton: "Anton", serif;
  --ubuntu: "Ubuntu", serif;
  --jomolhari: "Jomolhari", serif;
  --times-new-roman: "Tinos", serif;
  --inter: "Inter", sans-serif;
  --esteban: "Esteban", serif;
}

.join-flow-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.page-header {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
}

.will-logo {
  flex-shrink: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-wrapper {
  display: none;
}

.text-link {
  color: var(--gray);
  font-size: var(--font_16);
  font-family: var(--noto);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline solid 2px;
  color: black;
  transition: 0.3s;
}

.head-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
}

.head-image-container img {
  width: 100%;
  height: 591px;
  align-self: stretch;
}

.head-letter {
  position: absolute;
  right: 49px;
  bottom: 55px;
  font-size: var(--font_70);
  font-family: var(--noto);
  color: var(--ivory);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.new-event-section {
  display: flex;
  padding: 100px 42px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  background-color: var(--ivory);
}

.new-event-title {
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_48);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--shinonome);
}

.new-event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  align-self: stretch;
}

.new-event-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 46px;
}

.new-event-block {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
}

.event-date {
  color: var(--gray);
  font-family: var(--esteban);
  font-size: var(--font_32);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event-description {
  overflow: hidden;
  color: var(--gray);
  text-overflow: ellipsis;
  font-family: var(--noto);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 0 0;
}

.event-see-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  text-decoration: none;
}

.see-more-text {
  color: var(--gray);
  font-family: var(--noto);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
}

.event-link img {
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.yearly-schedule-section {
  display: flex;
  padding: 100px 35px 200px 35px;
  flex-direction: column;
  align-items: center;
  gap: 74px;
  background: var(--shinonome);
  position: relative;
}

.yearly-schedule-title {
  color: var(--ivory);
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_48);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.yearly-events {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.half-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}

.monthly-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.month-and-event {
  display: flex;
  align-items: center;
  gap: 24px;
}

.month {
  display: flex;
  align-items: center;
  gap: 16px;
}

.number {
  color: var(--ivory);
  font-family: var(--esteban);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.roman {
  color: var(--ivory);
  font-family: var(--esteban);
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event-multiple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.event {
  color: var(--ivory);
  font-family: var(--noto);
  font-size: var(--font_22);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.monthly-event img {
  width: 190px;
  height: 127px;
  aspect-ratio: 190/127;
}

.background-logo {
  position: absolute;
  right: -10px;
  bottom: 34px;
}

.background-logo img {
  opacity: 0.2;
}

.activity-photo-section {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

.activity-title {
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_48);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--shinonome);
}

.slide-wrapper {
  display: flex;
  overflow: hidden;
  gap: 48px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 48px;
  align-self: stretch;
  animation: slide-flow 20s infinite linear 1s both;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: calc(100vw / 4);
}

.slide img {
  aspect-ratio: 3/2;
  border-radius: 12px;
}

@keyframes slide-flow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-65.4%);
  }
}

.event-name {
  color: var(--gray);
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event-text {
  color: var(--gray);
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.PG-product-section {
  display: flex;
  padding: 100px 0px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--blue_Kashmir);
  position: relative;
}

.PG-product-title {
  color: var(--ivory);
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_48);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.PG-product-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.product-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  align-self: stretch;
}

.product-column {
  display: none;
}

.product-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
}

.product-block:hover {
  text-decoration: underline 1px solid var(--shinonome);
}

.product-photoframe {
  border-radius: 12px;
  background: #393939;
}

.product-photoframe img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.service-name {
  color: var(--ivory);
  text-align: center;
  align-self: stretch;
  font-family: var(--noto);
  font-size: var(--font_16);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.developer {
  color: var(--ivory);
  text-align: center;
  align-self: stretch;
  font-family: var(--noto);
  font-size: var(--font_14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
}

.background-logo-left {
  position: absolute;
  left: -60px;
  bottom: 34px;
}

.background-logo-left img {
  opacity: 0.06;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--ivory);
}

.footer-top {
  display: flex;
  padding: 90px 0px 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.footer-sm-logo {
  display: flex;
  align-items: center;
  gap: 43px;
}

.x-logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.instagram-logo {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.instagram-logo img {
  width: 85px;
  height: 79px;
}

.footer-logo {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.footer-copyright {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.footer-copyright img {
  width: 32px;
  height: 32px;
}

.copyright-text {
  color: var(--gray);
  font-family: var(--times-new-roman);
  font-size: var(--font_32);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

@media (max-width: 1200px) {
  .nav-wrapper {
    display: flex;
  }

  /* 
  hamburger(ハンバーガーアイコン)
  =================================== */
  .hamburger {
    position: absolute;
    right: 30px;
    top: 33px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .hamburger__line {
    position: absolute;
    width: 50px;
    height: 3px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
  }

  .hamburger__line--1 {
    top: 1px;
  }

  .hamburger__line--2 {
    top: 18px;
  }

  .hamburger__line--3 {
    top: 36px;
  }

  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }

  .open .hamburger__line--2 {
    opacity: 0;
  }

  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }

  /* 
  sp-nav(ナビ)
  =================================== */
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: var(--blue_Kashmir);
    transition: all 0.5s;
    z-index: 100;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }

  .sp-nav ul {
    padding-top: 100px;
    list-style: none;
    text-align: center;
    padding-left: 0;
  }

  .sp-nav ul li {
    padding: 10px 0px;
  }

  .sp-nav a {
    color: var(--ivory);
    font-family: var(--noto);
    font-size: var(--font_32);
    text-decoration: none;
    cursor: pointer;
  }

  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    right: 0;
  }
  /* 
  black-bg(ハンバーガーメニュー解除用bg)
  =================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }

  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

  .link-box {
    display: none;
  }

  .head-image-container img {
    height: 400px;
  }

  .head-letter {
    right: 41px;
    bottom: 33px;
    font-size: var(--font_48);
  }

  .new-event-section {
    padding: 59px 42px;
  }

  .new-event-title {
    font-size: var(--font_36);
  }

  .new-event-list {
    gap: 24px;
  }

  .event-date {
    font-family: var(--jomolhari);
    font-size: var(--font_24);
  }

  .event-description {
    font-family: var(--inter);
    font-size: var(--font_16);
  }

  .see-more-text {
    font-size: var(--font_16);
  }

  .event-link img {
    width: 20px;
    height: 20px;
  }

  .yearly-schedule-section {
    padding: 100px 0px;
    gap: 56px;
  }

  .yearly-schedule-title {
    font-size: var(--font_36);
  }

  .yearly-events {
    flex-direction: column;
    justify-content: unset;
    gap: 34px;
  }

  .half-events {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .monthly-event {
    gap: 12px;
  }

  .month-and-event {
    display: flex;
    align-items: center;
    gap: 26px;
  }

  .month {
    display: flex;
    justify-content: space-between;
  }

  .number {
    font-size: 40px;
    opacity: 0.4;
  }

  .roman {
    font-size: var(--font_32);
    opacity: 0.4;
  }

  .event-multiple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .event {
    font-family: var(--inter);
    font-size: var(--font_16);
  }

  .monthly-event img {
    width: 162px;
    height: 121px;
    flex-shrink: 0;
  }

  .background-logo {
    position: absolute;
    right: -30px;
    bottom: 34px;
  }

  .background-logo img {
    opacity: 0.2;
  }

  .activity-title {
    font-size: var(--font_36);
  }

  .slide-wrapper {
    display: flex;
    overflow: hidden;
    gap: 48px;
  }

  .slider {
    justify-content: center;
    gap: 48px;
  }

  .slide {
    display: flex;
    width: 200px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .slide img {
    border: 1px solid var(--gray);
  }

  @keyframes slide-flow {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-56.13%);
    }
  }

  .event-name {
    font-size: var(--font_20);
  }

  .PG-product-title {
    font-size: var(--font_36);
  }

  .PG-product-list {
    flex-direction: row;
  }

  .product-row {
    display: none;
  }

  .product-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    align-self: stretch;
  }

  .product-photoframe {
    background: var(--ivory);
  }

  .product-photoframe img {
    width: 129px;
    height: 127px;
  }

  .footer-top {
    padding: 40px 0px 20px 0px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer-logo {
    gap: 20px;
  }

  .footer-sm-logo {
    gap: 18px;
  }

  .x-logo img {
    width: 40px;
    height: 40px;
  }

  .instagram-logo img {
    width: 40px;
    height: 40px;
  }

  .footer-copyright {
    gap: 8px;
  }

  .footer-copyright img {
    width: 24px;
    height: 24px;
  }

  .copyright-text {
    font-size: var(--font_18);
  }
}
