:root {
  --shinonome: linear-gradient(91deg, #6f5878 0.02%, #4f648d);
  --blue_Kashmir: #52648c;
  --gray: #535353;
  --ivory: #fffcf7;
  --purple_Kimberly: #6b5b7d;
  --gray-50: rgba(83, 83, 83, 0.5);

  --font_70: 70px;
  --font_60: 60px;
  --font_48: 48px;
  --font_40: 40px;
  --font_36: 36px;
  --font_32: 32px;
  --font_28: 28px;
  --font_24: 24px;
  --font_22: 22px;
  --font_20: 20px;
  --font_18: 18px;
  --font_16: 16px;
  --font_14: 14px;
  --font_12: 12px;

  --noto: "Noto Sans JP", sans-serif;
  --anton: "Anton", serif;
  --ubuntu: "Ubuntu", serif;
  --jomolhari: "Jomolhari", serif;
  --times-new-roman: "Tinos", serif;
  --inter: "Inter", sans-serif;
}

.join-flow-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
  align-items: center;
}

.will-logo {
  flex-shrink: 0;
}

.link-box {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-wrapper {
  display: none;
}

.text-link {
  color: var(--gray);
  font-size: var(--font_16);
  font-family: var(--noto);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.text-link:hover {
  background: var(--shinonome);
  transition: 0.3s;
  color: var(--ivory);
}

.head-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
}

.head-image-container img {
  width: 100%;
  height: 591px;
  align-self: stretch;
}

.head-letter {
  position: absolute;
  right: 49px;
  bottom: 55px;
  font-size: var(--font_70);
  font-family: var(--noto);
  color: var(--ivory);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.join-conditions-container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.join-conditions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  align-self: stretch;
}

.join-condition-block {
  width: 420px;
  height: 80%;
  display: flex;
  padding: 24px 36px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: var(--shinonome);
}

.condition-title {
  font-family: var(--noto);
  font-size: var(--font_32);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--ivory);
  overflow: hidden;
  text-overflow: ellipsis;
}

.condition-detail {
  font-family: var(--noto);
  font-size: var(--font_24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--ivory);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-mini {
  font-size: var(--font_16);
  color: var(--ivory);
}

.join-flow-section {
  display: flex;
  padding: 100px 0px 119px 0px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
  border-bottom: 5px solid rgba(255, 255, 255, 0.3);
  background: var(--ivory);
}

.join-title {
  align-self: stretch;
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_48);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--shinonome);
}

.join-flow-content {
  align-items: flex-end;
  padding-left: 46px;
  border-left: solid 1px var(--gray);
}

.join-flow-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 54px;
}

.join-flow-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.join-flow-title {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.step {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: var(--purple_Kimberly);
}

.step-number {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  color: var(--ivory);
  font-family: var(--ubuntu);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.step-title {
  display: flex;
  align-items: flex-start;
  color: var(--purple_Kimberly);
  font-family: var(--noto);
  font-size: var(--font_22);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.step-text {
  display: flex;
  align-items: flex-start;
  color: var(--purple_Kimberly);
  font-family: var(--noto);
  font-size: var(--font_18);
  font-style: normal;
  font-weight: 500;
  line-height: 199.8%;
  text-transform: capitalize;
}

.step-explanation {
  display: flex;
  padding: 0px 24px 20px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
  color: var(--gray);
  font-family: var(--noto);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 500;
  line-height: 199.8%;
  text-transform: capitalize;
}

.event-section {
  display: flex;
  padding: 100px 108px 240px 108px;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  align-self: stretch;
  background: var(--blue_Kashmir);
  position: relative;
}

.event-entire-title {
  color: var(--ivory);
  text-align: center;
  font-family: var(--noto);
  font-size: var(--font_60);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.event-block {
  display: flex;
  align-items: center;
  gap: 56px;
}

.event-block img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.event-entire-frame {
  display: flex;
  align-items: flex-end;
  z-index: 10;
  gap: 36px;
}

.event-text-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}

.event-title-frame {
  display: flex;
  padding: 0px 12px 8px 12px;
  align-items: flex-end;
  gap: 35px;
  border-bottom: 1px solid var(--ivory);
}

.event-title {
  overflow: hidden;
  color: var(--ivory);
  text-overflow: ellipsis;
  font-family: var(--noto);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event-subtitle {
  overflow: hidden;
  color: var(--ivory);
  text-overflow: ellipsis;
  font-family: var(--noto);
  font-size: var(--font_14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.event-schedule-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.schedule-block {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  color: var(--ivory);
  font-family: var(--jomolhari);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.schedule {
  color: var(--ivory);
  font-family: var(--jomolhari);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.day {
  font-size: var(--font_16);
}

.application-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.apply-button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--ivory, #fffcf7);
  overflow: hidden;
  color: #51658d;
  text-overflow: ellipsis;
  font-family: var(--noto);
  font-size: var(--font_20);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.apply-text {
  overflow: hidden;
  color: var(--ivory);
  text-overflow: ellipsis;
  font-family: var(--noto);
  font-size: var(--font_14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.background-logo {
  position: absolute;
  right: 34px;
  bottom: 34px;
}

.background-logo img {
  opacity: 0.2;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--ivory);
}

.footer-top {
  display: flex;
  padding: 90px 0px 100px 0px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  align-self: stretch;
}

.footer-sm-logo {
  display: flex;
  align-items: center;
  gap: 43px;
}

.x-logo {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.instagram-logo {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.instagram-logo img {
  width: 85px;
  height: 79px;
}

.footer-logo {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.footer-copyright {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-self: stretch;
}

.footer-copyright img {
  width: 32px;
  height: 32px;
}

.copyright-text {
  color: var(--gray);
  font-family: var(--times-new-roman);
  font-size: var(--font_32);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

@media (max-width: 900px) {
  .nav-wrapper {
    display: flex;
  }

  /* 
hamburger(ハンバーガーアイコン)
=================================== */
  .hamburger {
    position: absolute;
    right: 30px;
    top: 33px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    z-index: 300;
  }

  .hamburger__line {
    position: absolute;
    width: 45px;
    height: 3px;
    right: 0;
    background-color: #000;
    transition: all 0.5s;
  }

  .hamburger__line--1 {
    top: 1px;
  }

  .hamburger__line--2 {
    top: 18px;
  }

  .hamburger__line--3 {
    top: 36px;
  }

  /*ハンバーガーがクリックされたら*/
  .open .hamburger__line--1 {
    transform: rotate(-45deg);
    top: 11px;
  }

  .open .hamburger__line--2 {
    opacity: 0;
  }

  .open .hamburger__line--3 {
    transform: rotate(45deg);
    top: 11px;
  }

  /* 
sp-nav(ナビ)
=================================== */
  .sp-nav {
    position: fixed;
    right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
    top: 0;
    width: 70%; /* 出てくるスライドメニューの幅 */
    height: 100vh;
    background-color: var(--blue_Kashmir);
    transition: all 0.5s;
    z-index: 100;
    overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  }

  .sp-nav ul {
    padding-top: 100px;
    list-style: none;
    text-align: center;
    padding-left: 0;
  }

  .sp-nav ul li {
    padding: 10px 0px;
  }

  .sp-nav a {
    color: var(--ivory);
    font-family: var(--noto);
    font-size: var(--font_32);
    text-decoration: none;
  }

  /*ハンバーガーがクリックされたら右からスライド*/
  .open .sp-nav {
    right: 0;
  }
  /* 
black-bg(ハンバーガーメニュー解除用bg)
=================================== */
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }

  /*ハンバーガーメニューが開いたら表示*/
  .open .black-bg {
    opacity: 0.3;
    visibility: visible;
  }

  .link-box {
    display: none;
  }

  .head-image-container img {
    height: 400px;
  }

  .head-letter {
    right: 11px;
    bottom: 33px;
    font-size: var(--font_48);
  }

  .join-conditions-container {
    padding-top: 50px;
    flex-direction: column;
  }

  .join-conditions {
    flex-direction: column;
    align-self: unset;
  }

  .join-condition-block {
    gap: 16px;
    width: 100%;
  }

  .condition-title {
    font-size: var(--font_24);
  }

  .condition-detail {
    font-size: var(--font_16);
    line-height: 150%;
  }

  .detail-mini {
    font-size: var(--font_12);
    line-height: 150%;
  }

  .join-title {
    font-size: var(--font_36);
  }

  .join-flow-content {
    display: flex;
    gap: 46px;
    padding: 0px 28px;
    align-self: stretch;
  }

  .join-flow-details {
    flex: 1 0 0;
  }

  .join-flow-block {
    align-self: stretch;
  }

  .step {
    gap: 10px;
  }

  .step-explanation {
    flex: 0 0 0;
  }

  .event-section {
    padding: 100px 42px 160px 42px;
  }

  .event-entire-title {
    font-size: var(--font_36);
  }

  .event-container {
    align-items: center;
  }

  .event-block {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  .event-block img {
    align-self: stretch;
    height: 220px;
  }

  .event-entire-frame {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
  }

  .event-title {
    font-size: var(--font_32);
  }

  .event-subtitle {
    font-size: var(--font_16);
  }

  .number {
    font-size: var(--font_32);
  }

  .schedule {
    font-size: var(--font_22);
  }

  .day {
    font-size: var(--font_24);
  }

  .apply-button {
    color: var(--blue_Kashmir);
  }

  .background-logo {
    right: 20px;
    bottom: 10px;
    white-space: nowrap;
  }

  .background-logo img {
    height: 90px;
  }

  .footer-top {
    padding: 40px 0px 20px 0px;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer-logo {
    gap: 20px;
  }

  .footer-sm-logo {
    gap: 18px;
  }

  .x-logo img {
    width: 40px;
    height: 40px;
  }

  .instagram-logo img {
    width: 40px;
    height: 40px;
  }

  .footer-copyright {
    gap: 8px;
  }

  .footer-copyright img {
    width: 24px;
    height: 24px;
  }

  .copyright-text {
    font-size: var(--font_18);
  }
}

@media (max-width: 1100px) {
  .event-title-frame {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
  }
}
